<h1>Categories list</h1>
<%= link_to 'Go back', root_path %>
<%= link_to 'Groups', groups_path %>
<%= link_to 'Products', products_path %>
<table>
  <tr>
    <th>id</th>
<!--    <th>Url</th> -->
    <th>Name</th>
    <th>Name (rus)</th>
    <th>Is new</th>
  </tr>

  <% @categories.each do |category| %>
    <tr>
      <td><%= category.id %></td>
<!--      <td><%= category.url %></td>
      <td><%= category.name %></td> -->
      <td><%= link_to category.name, category.url %></td>
      <td><%= category.name_ru %></td>
      <td><%= category.is_new %></td>
    </tr>
  <% end %>
</table>
