<%= paginate @products, :theme => 'twitter-bootstrap-3' %>

<% @products.each do |product| %>
  <div class="row">
    <div class="col-lg-3">
      <%= image_tag product.small_image_url %>
    </div>
    <div class="col-lg-9">
      <%= link_to product.name, product_path(url_name: product.url_name) %>
      <br>
      <%= product.description %>
      <br>
      <% if product.min_price %>
        цена: <%= product.prices %>
      <% end %>
    </div>
  </div>
  <br>
<% end %>

<%= paginate @products, :theme => 'twitter-bootstrap-3' %>
