<h1>Список продуктов</h1>
<%= link_to 'Назад', root_path %>
<%= link_to 'Группы', groups_path %>
<%= link_to 'Категории', categories_path %>
<table>
  <tr>
    <th>id</th>
    <th>Name</th>
    <th></th>
  </tr>
  <% @products.each do |product| %>
    <tr>
      <td><%= product.id %></td>
      <td><%= link_to product.name, product.url %></td>
      <td><%= link_to 'Картинка', product.image_url %></td>
    </tr>
  <% end %>
</table>
