<h1><%= @product.name %></h1>
<div class="row">
  <div class="col-lg-3">
    <%= image_tag @product.large_image_url %>
  </div>
  <div class="col-lg-9">
    <%= @product.description %>
    <br>
    <% if @product.min_price %>
      цена: <%= @product.minprice + ' - ' + @product.maxprice  + ' руб.'%>
      <br>
    <% end %>
    <%= link_to 'Каталог Onliner', @product.url, :target => "_blank" %>
  </div>
</div>
