<div>Групп: <%= @groups %></div>
<div>Категорий: <%= @categories %></div>
<div>Продуктов в продаже: <%= "#{@products_in_stock} (уникальных #{@products_in_stock_uniq})" %></div>
<div>Продуктов всего: <%= "#{@products_all} (уникальных #{@products_all_uniq})" %></div>
<div>Пользователей зарегистрировано: <%= "#{@users}" %></div>
