<p>
  Групп: <%= @groups %>
  <br>
  Категорий: <%= @categories %>
  <br>
  Продуктов в продаже: <%= "#{@products_in_stock} (уникальных #{@products_in_stock_uniq})" %>
  <br>
  Продуктов всего: <%= "#{@products_all} (уникальных #{@products_all_uniq})" %>
  <br>
  Пользователей зарегистрировано: <%= "#{@users}" %>
</p>
